# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Data
data/
Mpox2-1/
Mpox2-2/

#models
skin_disease_model.tflite
skin_disease_model.onnx
best_mpox_model.pth
mpox_vit_model.pth

# Logs
*.log

# IDE
.idea/
.vscode/

# Other
.DS_Store
skindetect/
