fastapi[standard]
uvicorn[standard]
sqlalchemy
pillow
python-dotenv
google-generativeai
pyjwt
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
requests
psycopg2-binary
fastapi-mail
aiosmtplib
jinja2
reportlab
apscheduler
